*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
.signing/
.idea/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db
kotlin/
*.log
.classpath
.project
.settings
*.swp
*.swo
*~
.#*
